* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

  
body {
   font-family: Arial, sans-serif; 
}

  header {
    background-color: #333;
    color: white;
    justify-content: flex-start;
    
  }

  h1 {
    margin-left: 2rem;
  }

  nav {
    margin: 1rem;
    justify-content: flex-end;
    overflow: hidden;
  }

  ul {
    flex-direction: row;
  }

  li {
    list-style-type: none;
    padding: 15px;
    display: block;
    text-align: center;
    float: left;
  }
  
  li:hover{
    color:rgb(128, 119, 119)
  }

  main {
    background-color: white;
    margin: 2rem;
    min-height: auto;
  }

  span {
    margin: 1rem;
  }

  h2 {
    margin-bottom: 1rem;
  }
  
  footer {
    background-color: #333;
    color: white;
    justify-content: flex-start;
    bottom: 0;
    position: absolute;
    min-width: 100%;
  }

  h3 {
    margin-left: 2rem;
    margin-top: 1rem;
  }

 
/*
body {
    background-color: rgb(192, 159, 222);
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header {
    width: 100vw;
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 55px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
    color: #FFFFFF;
    margin: 5rem;
    border: 2px solid white;
    border-radius: 20px;
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1100px) {
    header {
        font-size: 45px;
        line-height: 50px;
    }
}

@media screen and (max-width: 900px) {
    .container {
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    header {
        font-size: 35px;
        line-height: 40px;
    }
}

@media screen and (max-width: 340px) {
    header {
        font-size: 30px;
        line-height: 35px;
    }
}
*/